<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus_cp.mingli">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShareHelpActivity"/>
        <activity android:name=".activity.ShuYuJieShiActivity"/>
        <activity android:name=".activity.AboutSoftActvity"/>
        <activity android:name=".activity.MingRenListActivity"/>
        <activity android:name=".activity.MingRenMIngLiContentActivity"/>
        <service android:name=".Service.InsertDataService"/>


    </application>

</manifest>
